@import 'normalize';

$colour-brand-black: #000;
$colour-brand-pink: #d90f5a;
$colour-brand-teal: #0de5ab;
$colour-brand-teal-alt: #30c4c9;
$colour-brand-orange: #ff6e27;
$colour-brand-blue: #005bc5;
$colour-brand-blue-dark: #212d44;
$colour-brand-yellow: #ffb60b;
$colour-brand-purple: #4f2958;
$colour-brand-lime: #88c100;

$colour-ui-bg: $colour-brand-black;
$colour-ui-text: #fff;
$colour-ui-link: $colour-ui-text;
$colour-ui-link-focus: $colour-brand-blue;

$colour-ui-button: $colour-brand-blue;
$colour-ui-button-hover: $colour-brand-black;

$colour-ui-icon-fill: #fff;

$colour-ui-header-background: $colour-brand-blue-dark;

$colour-ui-search-background: $colour-brand-blue;
$colour-ui-search-input-focus: $colour-brand-yellow;

$colour-ui-nav-background: $colour-brand-blue;

$colour-ui-footer-background: $colour-brand-blue;

$colour-background-tile-pastoral: $colour-brand-pink;
$colour-background-tile-calendar: $colour-brand-teal;
$colour-background-tile-busy-bees: $colour-brand-teal-alt;
$colour-background-tile-news: $colour-brand-orange;
$colour-background-tile-curriculum: $colour-brand-yellow;
$colour-background-tile-first-school: $colour-brand-purple;
$colour-background-tile-children: $colour-brand-blue-dark;
$colour-background-tile-parents: $colour-brand-lime;

@font-face {
    font-family: 'Sniglet';
    src: url('./assets/fonts/sniglet/sniglet-regular-webfont.woff2') format('woff2'), url('./assets/fonts/sniglet/sniglet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Delius';
    src: url('./assets/fonts/delius/delius-regular-webfont.woff2') format('woff2'), url('./assets/fonts/delius/delius-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
    color: $colour-ui-text;
    background: $colour-ui-bg;
    font-family: 'Delius', cursive;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.875rem;
    line-height: 1.8;
    min-width: 320px;
}

figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sniglet', cursive;
    line-height: 1.2;
}

a {
    color: $colour-ui-link;
    transition: 0.15s;
    text-decoration: none;
}

a:not(.tel):hover {
    text-decoration: underline;
}

a:focus {
    outline: 3px solid $colour-ui-link-focus;
    background-color: rgba($colour-ui-link-focus, 0.5);
    text-decoration: none;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
}

dd {
    margin-left: 0;
}

button,
.button {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: $colour-ui-button;
    border: 0;
    padding: 1rem 3rem;
    line-height: 1;
    display: inline-block;
    font-family: 'Sniglet';
    color: $colour-ui-text;
    cursor: pointer;
    letter-spacing: .2rem;
}

button:hover,
.button:hover {
    background-color: $colour-ui-button-hover;
    text-decoration: none;
}

.tel {
    cursor: default;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: baseline;

    path {
        fill: $colour-ui-icon-fill;
    }
}

.skiplink {
    position: absolute;
    left: -9999em;
    transition: none;
    padding: 0.5rem;
    text-decoration: underline;
}

.skiplink:focus {
    left: 0;
    z-index: 1;
}

.site-header {
    background-color: $colour-ui-header-background;
    position: relative;
    padding: 0.25rem 1.5rem;
    min-height: 62px;

    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 1.1rem;
    }
}

.site-header__links {
    margin-left: auto;
    display: flex;
    align-items: center;

    .trigger-label--search {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}

.site-header nav {
    transition: 0.2s;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba($colour-ui-nav-background, .98);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    z-index: -1;
    opacity: 0;
    padding: 1rem;
    flex: 1;
    overflow: auto;
    padding: 2rem;

    @media screen and (min-width: 768px) {
        font-size: 1.8rem;
    }

    .trigger-label {
        margin-bottom: auto;
        text-align: right;
    }

    .c-site-nav {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.site-logo {
    display: block;
    width: 54px;
    height: 54px;
}

.site-logo__img {
    height: 100%;
}

.trigger-label {
    cursor: pointer;
    line-height: 1;
}

.site-header .c-search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $colour-ui-search-background;
    padding: 0.25rem 1.5rem;
    min-height: 62px;
    display: flex;
    align-items: center;
    transform: translateY(-150%);
    transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    label {
        margin-right: 1rem;
    }

    input {
        border: 0;
        border-radius: 18px;
        padding: .5rem .65rem;
        border: 2px solid #fff;
        -webkit-appearance: none;
        transition: border 0.1s ease;
        width: 80%;
        max-width: 400px;

        &:focus {
            outline: none;
            border-color: $colour-ui-search-input-focus;
        }
    }

    .trigger-label {
        margin-left: auto;
        margin-right: 0;
    }
}

.menu-trigger:checked ~ nav,
.search-trigger:checked ~ .c-search-form {
    z-index: 100;
    opacity: 1;
    transform: translateY(0);
}

.c-hero {
    text-align: center;
    min-height: 340px;
    background: url('assets/school.jpg') no-repeat bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (min-width: 768px) {
        min-height: 440px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 500px;
    }

    @media screen and (min-width: 1900px) {
        min-height: 600px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top:0;
        background: rgba(0,0,0,.25);
    }

}

.c-hero__panel {
    text-align: center;
    z-index: 5;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.c-hero__panel-title {
    max-width: 600px;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.6rem;

    @media screen and (min-width: 768px) {
        font-size: 2.2rem;
    }
}

$tiles: (
    pastoral: $colour-background-tile-pastoral,
    calendar: $colour-background-tile-calendar,
    busy-bees: $colour-background-tile-busy-bees,
    news: $colour-background-tile-news,
    curriculum: $colour-background-tile-curriculum,
    first-school: $colour-background-tile-first-school,
    children: $colour-background-tile-children,
    parents: $colour-background-tile-parents
);

@each $tile, $colour in $tiles {
    .c-tiles__tile--#{$tile} {
        .c-tiles__figure {
            background: url(./assets/#{$tile}.jpg) no-repeat center;
            background-size: cover;
        }

        .c-tiles__tile-title {
            background-color: $colour;
        }

        .c-tiles__link:hover {
            .c-tiles__tile-title {
                background-color: darken($colour, 2%);
            }

            .c-tiles__figure {
                box-shadow: inset 0 0 50px rgba(#020202, 0.35);
            }
        }
    }
}

.c-tiles {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        background: rgba(#fff, 0.85);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-tiles__link {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
}

.c-tiles__figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    transition: box-shadow 0.2s;

    @media screen and (max-width: 767px) {
        width: 57px;
        height: 57px;
    }

    @media screen and (min-width: 768px) {
        height: 260px;
    }

    @media screen and (min-width: 992px) {
        height: 240px;
    }
}

.c-tiles__tile-title {
    display: block;
    padding: 1rem;
    flex: 1;
    transition: background-color 0.2s ease;

    @media screen and (min-width: 768px) {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }
}

.l-secondary-sections {
    display: grid;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

[id='useful-links'] {
    .c-link-list {
        column-count: 2;

        li {
            padding-right: 1rem;
        }
    }
}

[id='contact-information'] {
    address {
        padding-right: .5rem;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            column-count: 2;
        }
    }
}

.location-map {
    grid-column: 1 / -1;
    padding-top: (13 / 16) * 100%;
    margin: 0 -1rem -1rem -1rem;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 580px) {
        padding-top: (320 / 768) * 100%;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: -2.25rem;
    }

    @media screen and (min-width: 992px) {
        grid-column: 3;
        margin-top: -3rem;
        margin-right: -1rem;
        margin-bottom: -3rem;
        margin-left: 0;
    }
}

.site-footer {
    background-color: $colour-ui-footer-background;
    position: relative;
    padding: 0.75rem 1.5rem;
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.c-social-links {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.c-social-links__item:not(:last-of-type) {
    margin-right: 1rem;
}

.c-social-links__link {
    display: block;

    .icon {
        font-size: 1.25rem;
        vertical-align: middle;
    }
}

.l-site-meta {
    margin-left: auto;

    small {
        display: block;

        > a {
            margin-left: .5rem;

            &:before {
                content: '|';
                display: inline-block;
                margin-right: .5rem;
            }
        }

        @media screen and (min-width: 768px) {
            display: inline-block;
        }

        &:not(:first-of-type) {
            @media screen and (min-width: 768px) {
                margin-left: 1.5rem;
                display: inline-block;
            }
        }
    }
}

.u-hide-for-screen-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
